<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>QManagement</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.ui.js" th:src="@{/js/jquery.ui.js}"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js" 
        th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-select.js" 
        th:src="@{/js/bootstrap-select.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-toggle.min.js" 
        th:src="@{/js/bootstrap-toggle.min.js}"></script>
        <script type="text/javascript" src="../js/dropdownmenu.js" 
        th:src="@{/js/dropdownmenu.js}"></script>
        <script type="text/javascript" src="../js/dropdownmenu.js" 
        th:src="@{/js/wds.js}"></script>
        <style>
            div#ssc-body-render {
                width: 100%;
            }
            div#ssc-footer {
                background: /*url("../images/ph_pie-pagina.png")*/ no-repeat top center #202020;
                border-bottom: 5px solid #DFD8CC;
                position: fixed;
                bottom: 0;
                width: 100%;
                border-radius: 5px 5px 0px 0px;
                overflow: hidden;
            }
        </style>
        <link rel="stylesheet" type="text/css" media="all" href="../css/jquery.dataTables.css" th:href="@{/css/dataTables.bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/jquery.dataTables.css" th:href="@{/css/dataTables.bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/r2013.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/mnu.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/messages.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/list.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sweet-alert.css" th:href="@{/css/sweet-alert.css}" />
        <script type="text/javascript" src="../js/sweet-alert.js" th:src="@{/js/sweet-alert.js}"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sac.css" th:href="@{/css/sac.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../../css/siit/forms.css" th:href="@{/css/siit/forms.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-select.min.css" th:href="@{/css/bootstrap-select.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/mntcservicio.css" th:href="@{/css/mntcservicio.css}" />

        <script th:inline="javascript" type="text/javascript">
            var AdminConfig = function (responseTxt, statusTxt, xhr) {
                //configureButtons();
            };
            function addTramite() {
                var lista = "";
                jQuery('#disponible :selected').each(function (i, selected) {
                    lista += "," + jQuery(selected).val();
                });
                if (lista)
                    lista = lista.substring(1);
                var div = "divroles";
                console.log(lista);
                var params = 'lista=' + lista;
                        var requestMapping = /*[[@{/usuario/addRole}]]*/;
                var url = requestMapping + "?" + params;
                var func = 'AdminConfig';
                doLoad(null, url, div, func);
            }

            function delTramite() {
                var lista = "";
                jQuery('#divRolAsignados :selected').each(function (i, selected) {
                    lista += "," + jQuery(selected).val();
                });
                if (lista)
                    lista = lista.substring(1);
                var div = "divroles";
                console.log(lista);
                var params = 'lista=' + lista;
                var requestMapping = /*[[@{/usuario/delRole}]]*/ '';
                var url = requestMapping + "?" + params;
                var func = 'AdminConfig';
                doLoad(null, url, div, func);
            }
            jQuery(document).ready(function () {
            console.log("contra: ", jQuery("#contraseña").val());
                    jQuery("form#formJerarquia").submit(function (event) {
            if (jQuery("#nombre").val() === "" || jQuery("#nombre").val() === null) {
            jQuery('#helpnombre').text("Debe ingresar nombre del Usuario");
                    $("#divnombre").addClass("has-error");
                    event.preventDefault();
            } else {
            $("#divnombre").removeClass("has-error");
                    jQuery('#helpnombre').text("");
            }

            if (jQuery("#unidadRecep").val() === "0") {
            jQuery('#helpcUnidadRecep').text("Debe Seleccionar un Centro de Servicio");
                    $("#divcUnidadRecep").addClass("has-error");
                    event.preventDefault();
            } else {
            $("#divcUnidadRecep").removeClass("has-error");
                    jQuery('#helpcUnidadRecep').text("");
            }

            if (jQuery("#bActiva").val() === "0") {
            jQuery('#helpBlockEstado').text("Debe Seleccionar un estado");
                    $("#divEstado").addClass("has-error");
                    event.preventDefault();
            } else {
            $("#divEstado").removeClass("has-error");
                    jQuery('#helpBlockEstado').text("");
            }
            if (jQuery("#usuario").val() === "" || jQuery("#usuario").val() === null) {
            jQuery('#helpUsuario').text("Debe ingresar el Usuario identificador");
                    $("#divUsuario").addClass("has-error");
                    event.preventDefault();
            } else {
            $("#divUsuario").removeClass("has-error");
                    jQuery('#helpUsuario').text("");
            }
            if (($('#idUsuario').val()) !== "") {
            if (($('#cambiaPass').val()) === 1) {
            if (jQuery("#contraseña").val() === "" || jQuery("#contraseña").val() === null) {
            jQuery('#helpcontraseña').text("Debe ingresar una Contraseña ");
                    $("#divcontraseña").addClass("has-error");
                    event.preventDefault();
            } else {
            $("#divcontraseña").removeClass("has-error");
                    jQuery('#helpcontraseña').text("");
            }
            }
            } else {
            if (jQuery("#contraseña").val() === "" || jQuery("#contraseña").val() === null) {
            jQuery('#helpcontraseña').text("Debe ingresar una Contraseña ");
                    $("#divcontraseña").addClass("has-error");
                    event.preventDefault();
            } else {
            $("#divcontraseña").removeClass("has-error");
                    jQuery('#helpcontraseña').text("");
            }
            $('#cambiaPass').val(1);
            }
            });
                    /*<![CDATA[*/
                    var unidad = /*[[${unidadrecep}]]*/'';
                    if (unidad !== null && unidad !== '')
                    $("#usuarioModifica").val(unidad);
                    /*]]>*/
                    jQuery(document).ready(function () {
            if (($('#idUsuario').val()) !== "") {
            $('#contraseña').prop('disabled', true);
            } else {
            $("#cambiar").hide();
            }
            $("#cambiar").confirm({
            title: "Editar Contraseña",
                    text: "<h5><b>Esta seguro en editar la Contraseña?</b></h5>",
                    confirm: function (button) {
                    $('#contraseña').removeProp('disabled');
                            $('#cambiar').hide();
                            $('#cambiaPass').val(1);
                    },
                    cancel: function (button) {
                    },
                    confirmButton: "SI",
                    cancelButton: "NO"
            });
            });
        </script>
    </head>
    <body>
        <div id="ssc-layout-ext" class="form">
            <div id="ssc-layout">
                <div th:include="/layout/header :: header"></div>
                <div id="ssc-content"></div>
                <div id="ssc-body">
                    <div id="ssc-body-render">
                        <div id="ssc-layout-ext">
                            <div id="container">
                                <a id="anclaTop"></a>
                                <div class="mainPanel">
                                    <div th:include="/layout/menu :: menu" ></div>
                                    <div class="form">
                                        <div class="welcomeContainer noBrowser-hide">
                                            <form id="formJerarquia" class="form-horizontal" th:action="@{/usuario/guardar}" th:object="${seguriidadUsuarioPojo}" method="POST">
                                                <input id="idUsuario" type="hidden" th:field="*{idUsuario}" />
                                                <input id="cambiaPass" type="hidden" th:field="*{cambiaPass}" />
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <span class="titulo" th:text="*{idUsuario == null}? 'Ingreso de Nuevo Usuario' : 'Edicion de Usuario'">Ingreso de nuevo Usuario</span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <button type="submit" title="Guardar" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                                            <span style="padding-left: 5px;">Guardar</span>
                                                        </button>
                                                        <a th:href="@{/usuario/}" title="Regresar" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                                            <span style="padding-left: 5px;">Regresar</span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="divnombre">
                                                    <label for="nombre" class="col-sm-2 control-label">Nombre de Usuario</label>
                                                    <div class="col-sm-5">
                                                        <input id="nombre" type="text" autofocus="true" th:field="*{nombre}" class="form-control" placeholder="Nombre..."/>
                                                        <span id="helpnombre" class="help-block has-error"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="divcorreo">
                                                    <label for="correo" class="col-sm-2 control-label">Correo</label>
                                                    <div class="col-sm-5">
                                                        <input id="correo" type="email" th:field="*{correo}" class="form-control" placeholder="correo@xxx.com"/>
                                                        <span id="helpcorreo" class="help-block has-error"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="divcUnidadRecep">
                                                    <label for="cUnidadRecep" class="col-sm-2 control-label">Centros de Servicios</label>
                                                    <div class="col-sm-5">
                                                        <select id="unidadRecep" th:field="*{unidadRecep}" class="form-control">
                                                            <option value="0">Seleccione un Centro de Servicio...</option>
                                                            <option th:each="type : ${listaUnidades}" th:value="${type.cunidadRecep}" th:text="${type.dunidadRecep}"></option>
                                                        </select>
                                                        <span id="helpcUnidadRecep" class="help-block has-error"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="divEstado">
                                                    <label for="bActiva" class="col-sm-2 control-label">Activo SI/NO</label>
                                                    <div class="col-sm-5">
                                                        <select id="bActiva" th:field="*{bActiva}" class="form-control">
                                                            <option value="0" selected="selected">Seleccione un Estado...</option>
                                                            <option value="1">SI</option>
                                                            <option value="2">NO</option>
                                                        </select>
                                                        <span id="helpBlockEstado" class="help-block has-error"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="divUsuario">
                                                    <label for="usuario" class="col-sm-2 control-label">Usuario</label>
                                                    <div class="col-sm-5">
                                                        <input id="usuario" type="text" th:field="*{usuario}" class="form-control" placeholder="Usuario..."/>
                                                        <span id="helpUsuario" class="help-block has-error"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="divcontraseña">
                                                    <label for="contraseña" class="col-sm-2 control-label">Contraseña</label>
                                                    <div class="col-sm-5">
                                                        <input id="contraseña" type="password" th:field="*{contrasena}" class="form-control" placeholder="Contraseña..."/>
                                                        <span id="helpcontraseña" class="help-block has-error"></span>
                                                    </div>
                                                    <a id="cambiar" style="float: left; margin-left: 0px" title="Mostrar/Ocultar Contraseña" class="btn btn-default btn-sm titulo_n">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </div>
                                                <div id="divroles" class="form-group">
                                                    <label class="col-sm-1 control-label">&nbsp;</label>
                                                    <div class="col-sm-5">
                                                        <select multiple="multiple" id="disponible" class="form-control">
                                                            <option th:each="type : ${seguriidadUsuarioPojo.seguridadRoleList}" th:value="${type.idRole}" th:text="${type.nombre}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button id="addTram" type="button" onclick="addTramiteUsuario();" class="btn btn-default" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                        </button>
                                                        <button id="delTram" type="button" onclick="eliminarTramiteUsuario();" class="btn btn-default" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-5" id="divtraAsignados">
                                                        <select multiple="multiple" id="divRolAsignados" class="form-control">
                                                            <option th:each="type : ${seguriidadUsuarioPojo.seguridadRoleListAdded}" th:value="${type.idRole}" th:text="${type.nombre}"></option>
                                                        </select>
                                                        <span id="helproles" class="help-block has-error"></span>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div th:include="/layout/message :: message"></div>
                <div th:include="/layout/footer :: footer"></div>
            </div>
        </div>
        <script>
                    document.addEventListener("DOMContentLoaded", function () {
                    console.log("Página completamente cargada");
                            // Verificar si el botón existe
                            const cambiarBtn = document.getElementById("cambiar");
                            if (!cambiarBtn) {
                    console.error("No se encontró el botón con id 'cambiar'");
                            return;
                    }

                    cambiarBtn.addEventListener("click", function (event) {
                    console.log("Botón 'cambiar' presionado");
                            const inputPassword = document.getElementById("contraseña");
                            const icon = this.querySelector("i");
                            // Verificar si el campo de contraseña existe
                            if (!inputPassword) {
                    console.error("No se encontró el input con id 'contraseña'");
                            return;
                    }

                    // Cambiar el tipo del input entre 'password' y 'text'
                    if (inputPassword.type === "password") {
                    inputPassword.type = "text";
                            icon.classList.remove("fa-edit");
                            icon.classList.add("fa-eye-slash");
                            console.log("Contraseña visible");
                    } else {
                    inputPassword.type = "password";
                            icon.classList.remove("fa-eye-slash");
                            icon.classList.add("fa-edit");
                            console.log("Contraseña oculta");
                    }

                    // Evitar que el enlace realice una acción de navegación
                    event.preventDefault();
                    });
                    });
        </script>

    </body>
</html>