<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>QManagement</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.ui.js"  th:src="@{/js/jquery.ui.js}"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js" 
        th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-select.js" 
        th:src="@{/js/bootstrap-select.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-toggle.min.js" 
        th:src="@{/js/bootstrap-toggle.min.js}"></script>
        <script type="text/javascript" src="../js/dropdownmenu.js" 
        th:src="@{/js/dropdownmenu.js}"></script>
        <style>
             div#ssc-body-render {
                width: 100%;
            }
            div#ssc-footer {
            background: /*url("../images/ph_pie-pagina.png")*/ no-repeat top center #202020;
            border-bottom: 5px solid #DFD8CC;
            position: fixed;
            bottom: 0;
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            overflow: hidden;
                            }
        </style>
<link rel="stylesheet" type="text/css" media="all" href="../css/jquery.dataTables.css" th:href="@{/css/dataTables.bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/jquery.dataTables.css" th:href="@{/css/dataTables.bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/r2013.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/mnu.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/messages.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/list.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sweet-alert.css" th:href="@{/css/sweet-alert.css}" />
        <script type="text/javascript" src="../js/sweet-alert.js" th:src="@{/js/sweet-alert.js}"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sac.css" th:href="@{/css/sac.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../../css/siit/forms.css" th:href="@{/css/siit/forms.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-select.min.css" th:href="@{/css/bootstrap-select.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/mntcservicio.css" th:href="@{/css/mntcservicio.css}" />
  
        <script type="text/javascript" src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.ui.js" th:src="@{/js/jquery.ui.js}"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-select.js" th:src="@{/js/bootstrap-select.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-toggle.min.js" th:src="@{/js/bootstrap-toggle.min.js}"></script>

        <script th:inline="javascript" type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("form#formPrioridad").submit(function(event) {
                    console.log("ENTRA A PRIORIDAD");
                    if(jQuery("#sNombre").val() === "" || jQuery("#sNombre").val() === null){
                        jQuery('#helpsNombre').text("Debe ingresar nombre de la Prioridad");
                        $("#divsNombre").addClass("has-error");
                        event.preventDefault();
                    }else{
                        $("#divsNombre").removeClass("has-error");
                        jQuery('#helpsNombre').text("");
                    }
                    
                    if(jQuery("#nPeso").val() === "" || jQuery("#nPeso").val() === null){
                        jQuery('#helpnPeso').text("Debe ingresar el peso de la Prioridad");
                        $("#divnPeso").addClass("has-error");
                        event.preventDefault();
                    }else{
                        if(1 > parseInt(jQuery("#nPeso").val()) || parseInt(jQuery("#nPeso").val()) > 5 ){
                            jQuery('#helpnPeso').text("Debe ingresar el peso de la Prioridad entre 1 y 5");
                            $("#divnPeso").addClass("has-error");
                            event.preventDefault();
                        }else{
                            $("#divnPeso").removeClass("has-error");
                            jQuery('#helpnPeso').text("");
                        }
                    }
                    
                });
                
                /*<![CDATA[*/
                    var fila = /*[[${gcprioridad.bFilaEsp}]]*/ '';
                    if(fila===1) $('#bFilaEsp').attr('checked', true);
                    else $('#bFilaEsp').attr('checked', false);
                /*]]>*/
                
                $('#bFilaEsp').click(function(){
                    if(this.checked) {
                        $('#bFilaEsp').val(1);
                    }else{
                        $('#bFilaEsp').val(0);
                    }
                });
                
            });
        </script>
    </head>
    <body>
        <div id="ssc-layout-ext" class="form">
            <div id="ssc-layout">
                <div th:include="/layout/header :: header"></div>
                <div id="ssc-content"></div>
                <div id="ssc-body">
                    <div id="ssc-body-render">
                        <div id="ssc-layout-ext">
                            <div id="container">
                                <a id="anclaTop"></a>
                                <div class="mainPanel">
                                    <div th:include="/layout/menu :: menu" ></div>
                                    <div class="form">
                                    <div class="welcomeContainer noBrowser-hide">
                                        <form id="formPrioridad" class="form-horizontal" th:action="@{/prioridad/guardar}" th:object="${gcprioridad}" method="POST">
                                            <input id="nPrioridadId" type="hidden" th:field="*{nPrioridadId}" />
                                            <div class="form-group">
                                                <div class="col-sm-8">
                                                    <span class="titulo" th:text="*{nPrioridadId == null}? 'Ingreso de Nueva Prioridad' : 'Edicion de Prioridad'">Ingreso de Nueva Prioridad</span>
                                                </div>
                                                <div class="col-sm-4 right">
                                                    <button type="submit" title="Guardar" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                                        <span style="padding-left: 5px;">Guardar</span>
                                                    </button>
                                                    <a th:href="@{/prioridad/}" title="Regresar" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                                        <span style="padding-left: 5px;">Regresar</span>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group" id="divsNombre">
                                                <label for="sNombre" class="col-sm-2 control-label">Nombre de la Prioridad</label>
                                                <div class="col-sm-5">
                                                  <input id="sNombre" autofocus="true" type="text" th:field="*{sNombre}" class="form-control" placeholder="Prioridad..."/>
                                                  <span id="helpsNombre" class="help-block has-error"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group" id="divnPeso">
                                                <label for="nPeso" class="col-sm-2 control-label">Peso</label>
                                                <div class="col-sm-5">
                                                    <input id="nPeso" type="number" th:field="*{nPeso}" class="form-control width_40" placeholder="Peso..."/>
                                                  <span id="helpnPeso" class="help-block has-error"></span>
                                                </div>
                                            </div>
                                            
                                             <div class="form-group">
                                                <label for="dPrioridad" class="col-sm-2 control-label">Descripci&oacute;n</label>
                                                <div class="col-sm-5">
                                                  <input id="dPrioridad" type="text" th:field="*{dPrioridad}" class="form-control" placeholder="Descripci&oacute;n" />
                                                </div>
                                            </div>
                                            
                                             <div class="form-group">
                                                <label for="bFilaEsp" class="col-sm-2 control-label">Fila Especial</label>
                                                <div class="col-sm-5">
                                                    <input type="checkbox"  th:field="*{bFilaEsp}" id="bFilaEsp" th:value="*{bFilaEsp}" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div th:include="/layout/message :: message"></div>
                <div th:include="/layout/footer :: footer"></div>
            </div>
        </div>
    </body>
</html>