<html>
<head>
	<meta charset="utf-8"/>
	<title>Maria</title>
	<script type="text/javascript" src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.ui.js" th:src="@{/js/jquery.ui.js}"></script>
        <script type="text/javascript" src="../js/maria.js" th:src="@{/js/maria.js}" charset="utf-8"></script>
	
</head>
<body>
<audio id="elaudio" controls="true" onended="fino()">
no soporta audio
</audio>

<input type="text" id="num" value="1"/>
<input type="text" id="leti" value="A"/>
<input type="text" id="nuti" value="2"/>
<input type="text" id="lees" value="B"/>
<input type="text" id="nues" value="2"/>  
<br/>
<input type="text" id="a1" value=""/>  
<input type="text" id="a2" value=""/>  
<input type="button" onclick="clicko()"/>



</body>
</html>