/*Macro disenio*/

div#psLytExt{width:715px; margin:0 auto; position:relative; font-family:Tahoma, Helvetica, Arial; font-size: 10px;}
div#psLyt{width:100%; display:block;}
div#psLytExt p{font-size: 1.2em !important; text-align: justify !important;}
div#psLyt div#dshdr{padding:0 15px;}
div#psLyt div#dstbls{width:97%;margin:0 auto; padding:0; overflow: hidden; position: relative;}
div#pstp1, div#pstp2, div#pstp3, div#pstp4, div#pstp5,  div#pstp6{width:100%;position:absolute; background: #ffffff;}
div#pstp2, div#pstp3, div#pstp4, div#pstp5, div#pstp6{top:-20px; left:685px; background:#ffffff;}
div#psLytExt a{color:#2086B3}
div#psLytExt a:hover{color:#2DBFFF;}
div#pstp1{left:0px; top:0px;}


div.hpg-rd, div.hpg-lbl{float: left; position:relative;}
div.hpg-rd{width:10%; margin:40px 0px 40px 60px;}
div.hpg-lbl{width:60%;margin:0;padding:0;}
div.hpg-lbl p{padding:30px 10px 0px 10px; margin:0; color: #00426F; font-weight: 500; }
div#psLytExt div.hpg-lbl p span{font-weight: 600; letter-spacing: 1px; font-size: 2.2em; letter-spacing: 2px;}
div#psLytExt div.hpg-lbl p.xplccn{color:#000000;padding:0px 10px 10px 10px;}
div.hpg-lbl a:hover{ font-size: 1em;}
div.hpg-lbl a{ font-size: 1em;}

div.mdfcrglb-opcnspg{position:absolute;visibility:hidden; width:175px;}
div#psLyt div.mdfcrglb-opcnspg p{margin:0; padding:15px 10px; background:#EDEBA2; color:#222222; font-weight: 600; font-size: 1.1em; border-right:1px solid #E2DE5A;border-top:4px solid #e2de5a}
div.mdfcrglb-opcnspg div.flch{background:url("../images/flecha.png")  no-repeat bottom left; width:100%;  height:25px;}


div.pttl_over{background: transparent url("../images/iconopagobnw.png") no-repeat 5px -130px;}
div.pprcl_over{background: transparent url("../images/iconoparcialbnw.png") no-repeat 5px -130px;}
div.pplz_over{background: transparent url("../images/iconoplazobnw.png") no-repeat 5px -130px;}
div.pttl{background: transparent url("../images/iconopagobnw.png") no-repeat 5px 50px;}
div.pprcl{background: transparent url("../images/iconoparcialbnw.png") no-repeat 5px 50px;}
div.pplz{background: transparent url("../images/iconoplazobnw.png") no-repeat 5px 50px;}

div.dpg{position:relative; overflow: hidden; height:180px;}
div.dpgr{position:absolute; width:100%; height:100%; background:#f7f7f7; cursor:pointer; border-top:1px dotted #f0f0f0;}
div#cntndrpgs{margin-top:25px; width:100%;}

div.resumenTotal p, div.resumenTotal2 p, div#dvejrcc p{padding:10px 0px; margin:0;}

div.cntpgr{text-align: center;}
div.cntpgr p{font-size: 1.1em; color:#000000; margin:0; padding:5px;}
input.inptpgr{border:#777777 1px solid; padding:5px;font-size: 1.2em; letter-spacing: 1px; text-align:right;}

div.mndmnt, div.pgs, input.mndmnt, input.pgs{ width: 45%; cursor:pointer;border-left:1px solid #ededed; border-top:1px solid #ededed; border-bottom:2px solid #ededed; border-right:2px solid #ededed; margin-top:10px;margin-bottom:10px;}
div.mndmnt{float:right; margin-right:5px;}
div.pgs{ float:left; margin-left:5px;}

div.mndmnt{background:url("../images/imprimirMandamiento.png") no-repeat top center;}
div.pgs{background:url("../images/pagoes.png") no-repeat top center;}
div#psLyt p.link{padding:5px; margin:45px 0 0 0; font-size: 1.1em !important; color:#87B308; text-align: center !important;}
p.link span{color:#00426F; font-weight: 700; letter-spacing: 1px;}

a.link{padding:5px; margin:45px 0 0 0; font-size: 1.1em; color:#87B308; text-align: center; display:block;}
a.link:hover{text-decoration:underline}
a.link span{color:#00426F; font-weight: 700; letter-spacing: 1px;}

div#slctrplz{width:50%; margin:20px auto; text-align: right; border-left:1px solid #ededed; border-top:1px solid #ededed; border-bottom:2px solid #ededed; border-right:2px solid #ededed; background: url("../images/pagoplazo_.jpg") top center no-repeat ; cursor:pointer;}
div#slctrplz a.link{margin:75px  0 0 0;}


p.ipg{text-align: center; font-size: 1.1em; margin:0; padding:5px; color:#000000;}
p.indccn{font-size: 1.2em; margin:0; padding:10px 0; text-align: left;}
div.rstra{width:20px; height:15px; cursor: pointer; background: url("../images/minibotones.png") -21px 0px no-repeat; margin:0px 5px;}

div#psLyt p.ipg{margin:0; padding:10px; text-align: center !important; color:#000000; font-size: 1.2em !important; }
div#psLytExt p.ipg b{color:#00426F; font-size: 1.4em; letter-spacing: 1px;}


div.pg-pttl, div.pg-pprcl{width:33%; float: left; margin-left: 0px; background-color:#f7f7f7;}
div.pg-pplz{width:33%; float: right; margin-left: 0px; background-color:#f7f7f7;}
div.pg-act{background: #ffffff url("../images/h2tblsgh.jpg") top center no-repeat;}
div.pg-pttl div.hpg, div.pg-pprcl div.hpg,div.pg div.hpg{height: 175px; width: 100%; /*cursor:pointer;*/}
div.pg-pttl-act div.hpg, div.pg-pprcl-act div.hpg, div.pg-act div.hpg{height: 175px; width: 100%; cursor:pointer; border:none; }

/*Botones*/


input.btna_pq{display:inline; margin:0; text-transform:capitalize; width:125px; height: 65px; cursor: pointer; border:none; color:#ffffff; font-size: 1.4em; background-repeat: no-repeat; background-image: url("../images/botonesWeb.png"); background-color: transparent;}
input.btnazl_pq{background-position: -390px 1px;}
input.btnazl_pq_over{background-position:-390px -65px;}
input.btnn_pq{display:inline; margin:0; text-transform:capitalize; width:152px; height: 24px; cursor: pointer; border:none; color:#ffffff; font-size: 1.2em; background-repeat: no-repeat; background-image: url("../images/botonesWeb.png"); background-color: transparent;}
input.btnnrnj_pq{background-position: -88px 1px;}
input.btnnrnj_pq_over{background-position:-88px -24px;}
input#rstblcr_btn_id{display:none;}
input#bscrnt_btn_id{display:inline; margin:0; text-transform:capitalize; width:77px; height: 26px; cursor: pointer; border:none; color:#ffffff; font-size: 1.2em; background: no-repeat url("../images/botonesWeb.png") top left; background-color: transparent; margin:0;}
input#cnfrmr_btn_id, input#rprtr_btn_id{display:inline; margin:0; text-transform:capitalize; width:152px; height: 26px; cursor: pointer; border:none; color:#ffffff; font-size: 1.2em; background: no-repeat url("../images/botonesWeb.png") -88px -48px; background-color: transparent; margin:0;}
input#vlvr_btn_id{display:inline; margin:0; text-transform:capitalize; width:152px; height: 26px; cursor: pointer; border:none; color:#ffffff; font-size: 1.2em; background: no-repeat url("../images/botonesWeb.png") -88px 2px; background-color: transparent; margin:0;}
input#acptr_btn_id{display:block;  text-transform:capitalize; width:152px; height: 26px; cursor: pointer; border:none; color:#ffffff; font-size: 1.2em; background: no-repeat url("../images/botonesWeb.png") -88px -48px; background-color: transparent; margin:10px auto;}


/*Errores*/
div#errbck{background:transparent url("../images/bckbarraAcciones.png"); position:absolute; width:100%; height: 100%; display:none;}
div#errbck div#mnsjrrr{background:#ffffff url("../images/i-mensaje.png") top left no-repeat; border:6px solid #cccccc; top:150px; margin:0 auto; width:400px; position:relative; display:block}
div#errbck div#mnsjrrr p b{color:#00426F}
div#errbck div#mnsjrrr p{padding:15px 15px 15px 80px; margin:10px; text-align: justify; font-size: 1.2em; color:#00426F; line-height: 16px;}

/*Total a devolver*/

div.resumenTotal, div.resumenTotal2{background:#f7f7f7 url("../images/resumenTotal.png") no-repeat 5px 5px;  height: 40px; position:relative;}
div.clclnd{position: absolute; background-color: #f7f7f7; border:none; width:100%; height:100%}
div.resumenTotal div.clclnd p, div.resumenTotal2 div.clclnd p{color: #F7931E; text-align: center; padding:10px 30px; margin:0; letter-spacing: 2px;}
div.resumenTotal{float: right;}
div.resumenTotal2{width:100%; margin-top:20px;}
div.resumenTotal p, div.resumenTotal2 p, div#dvejrcc p{padding:10px 0px; margin:0;}
div#dvejrcc{float: right;}
span.conceptoTotal,span.conceptoTotal2{font-size: 1.6em; font-weight: 400; margin-left:45px; padding:8px 8px;;}
span.totalPagarDevolver, span.totalPagarDevolver2{font-size: 1.8em; color: #F7912C; font-weight: 700; padding:5px 0px;}
span#ejrcc{font-size: 1.8em; color: #F7912C; font-weight: 400; padding:5px 10px; margin:10px 5px;}


/*Ayuda*/
div#dstxtInt{position:relative; height: 40px; background: url("../images/i.png") 25px 10px no-repeat ;}
div#dstxtInt p{font-size: 1.2em; padding:10px 5px 5px 40px; position:absolute; visibility:hidden; color:#444444;}
b.v{color:#87B308; background:#f7f7f7;}
b.a{color:#00426F; background:#f7f7f7;}
div#dstxtInt p b{font-size:1.4em;}
div#dsbtns div#pt{height: 31px; width: 56px; position: absolute; top:10px; left:30px; background: url("../images/pico.png") no-repeat top center;}
div#msjsstts{position: absolute; background-color: #F7931E; border-bottom:#D87109 2px solid; border-left:#D87109 9px solid;}

div#msjsstts p{color: #ffffff; text-align: center; padding:10px 30px; margin:0; letter-spacing: 2px;}

/*Elementos de estilo del  paso 2*/

div.opcnbnc{width:650px; margin:10px 20px; border-top:1px dotted #ccc; background:#ffffff;}
div.opcnbncSlctd{background:#ffffff url("../images/h2tblsg.jpg") center left no-repeat ; }
div.opcnbnc p{font-size: 1.2em;}



div.txtpcnbnc{width:150px; min-height: 125px; _height:125px;}
div.txtpcnbnc, div#dtsbnc{float:left;}
div#dtsbnc{position:relative; width:500px; overflow: hidden; background:url("../images/repeat-textbox.png")  repeat-y -700px 0px;}
div#lgbnc{width:30px; height: 30px; background: #ccc; display: inline;}
div#dtsbnc span{font-size: 1.2em; display:block; letter-spacing: 1px; font-weight: 500; text-align: left; padding: 5px 10px 0px 20px;}
div#dtsbnc p{margin:0; padding:5px; font-size: 1.2em; }
div#dtsbnc div#bncs, div#dtsbnc div#tpcntbnc, div#dtsbnc div#nmrcntbnc{margin:0px; width:300px; text-align: left; float:left;}
div#dtsbnc div#bncs select, div#dtsbnc div#tpcntbnc select, div#dtsbnc div#nmrcntbnc input{margin:5px 15px; width:80%; font-size:1.1em;}

div#indccnstrsbncsExt{position:absolute; width: 500px; background: #ffffff url("../images/gradient.jpg") repeat-x  ; border-left: 1px solid #cccccc; height: 100%; top:0px; left:0px; min-height: 125px; _height:125px;}
div#indccnsgrclbncsExt{width: 498px; background: #ffffff url("../images/gradient.jpg") repeat-x ; border-left: 1px solid #cccccc; height: 100%; float:left;  min-height: 125px; _height:125px;}
div#indccnsgrclbncsExt p, div#indccnstrsbncsExt p{padding:10px; letter-spacing: 0.5px; color: #777777; font-size: 1.2em; text-align: left; line-height: 20px;}
div#indccnstrsbncsExt p#advrtnc{padding:0px 10px 10px 10px; letter-spacing: 0.5px; color: #000000; font-size: 1.2em; text-align: left; line-height: 20px; font-weight: 600; visibility:hidden}
div#indccnstrsbncs{width: 100%;}

input#cta_id{border:1px solid #777777; padding:3px; width:100%}

/*Elementos de estilo del paso 3*/

p.cnfrmcn{font-size: 1.2em; margin: 20px 0; padding: 0; letter-spacing: 1px;}

div#dtllcta{background:#f7f7f7; border:1px dotted #cccccc; padding:0; margin:0;}
div#dtllcta p{padding:10px; font-size: 1.1em; margin:0;}
div#dtllcta span{color:#F7912C; font-weight: 700; letter-spacing: 1px;}

/*Elementos del paso 4*/

div.opcnsdpg{border:1px dotted #ccc; text-align: center;}
div.opcnsdpg a{text-decoration: none; margin:10px;}
div.opcnsdpg a:hover{text-decoration: none; font-weight: 700;}

/*Ayuda*/

div#ayd{position:absolute;}
div#ayd p{padding:10px; font-size: 1em; margin: 0;}

ul#opcnscts{list-style: none;}
div#tblsplns{width:80%; margin:0 auto; border:1px dotted #cccccc; overflow: hidden;}
div.plnct{width:100%;}div.pgs p.link
ul#tblsplns li{display: inline;}
ul#opcnscts li{float:left;}
li.ultm{clear: left;}
ul#opcnscts li a{text-decoration: none;}
ul#opcnscts li a span, ul#opcnscts li p, ul#opcnscts li span{display:block; padding:10px 20px; font-size: 1.2em; color:#777777; margin:0;}
ul#opcnscts li p b{font-weight: 700; color:#00426F; font-size: 1.4em; letter-spacing: 2px;}
ul#opcnscts li a span{cursor:pointer; border:1px dotted #87B308}
ul#opcnscts li a:hover span, ul#opcnscts li a.actv span{padding:5px 20px; background:#87B308; border-left:1px solid #efefef; font-size: 2em; color: #ffffff; font-weight: 700; text-decoration: none; cursor:pointer}
li a.actv span{background:#87B308;}
div#cts{height: 37px; border-bottom: 3px solid #87B308;}
div#tblscts{ position: relative; overflow: hidden; width:50%; float:left; border-right: 1px dotted #cccccc;}
div.plnct{position: absolute; background:#ffffff;}
div#psLyt table.ps{width:90%; margin:20px auto; border:1px solid #efefef;}
table.ps thead tr th, table.ps tfoot tr td{padding:10px; font-weight: 600; background:#efefef; color:#00426f}
table.ps thead tr th{border-bottom: 2px solid #cccccc}
table.ps tfoot tr td{border-top: 2px solid #cccccc}
table.ps tbody tr td{padding:10px; font-weight: 400; border-bottom: 1px solid #efefef}

table.plz{width:90%; margin:20px auto; border:1px solid #00426f; background: #f5f5f5;}
table.plz thead tr th, table.ps tfoot tr td{padding:10px; font-weight: 600; text-transform: capitalize;}
table.plz thead tr th{border-bottom: 2px solid #cccccc}
table.plz tfoot tr td, table.plz tfoot tr th{border-top: 2px solid #cccccc; padding:10px;}
table.plz tbody tr td{font-weight: 400; border-bottom: 1px solid #efefef; padding:0px 5px;}


div.cnfrmrplnpg{background: #F9F9C2; border:1px dotted #cccccc; float:right; clear:right;  margin:10px; width:40%; border-top:2px solid #cccccc;}
div.cnfrmrplnpg p{font-size: 1.2em;color: #00426F; letter-spacing: 1px; padding:10px; margin:0;}

div.cmbfs{width:100%; text-align: center; height: 30px; margin:10px 0px; }
div.cmbfs a.sgntps{text-decoration:none;}
div.cmbfs a.sgntps span{border:1px dotted #cccccc;display:block; padding:10px 30px; font-size: 1.4em; color:#ffffff; background:#9ABD09; cursor:pointer; letter-spacing: 2px;}
div.cmbfs a.sgntps:hover span{padding:10px 30px; font-size: 1.4em; color:#ffffff; background:#00426F; text-decoration: underline; letter-spacing: 2px;}  


div.estdpg11{width:70px; height:80px; background:url("../images/estadosPagos.png") -130px -50px no-repeat; margin:0 auto; }
div.estdpg12{width:42px; height:50px; background:url("../images/estadosPagos.png") -145px 0px no-repeat; margin:0 auto; }
div.estdpg13{width:42px; height:50px; background:url("../images/estadosPagos.png") top left no-repeat; margin:0 auto; }
div.estdpg14{width:70px; height:80px; background:url("../images/estadosPagos.png") -70px -50px no-repeat; margin:0 auto; }

table.plz tbody tr td.estdpg11{ background:#ffffff; border-top:2px solid #00426f;  border-bottom:2px solid #00426f;}
td.estdpg12{}
td.estdpg13{}
table.plz tbody td.estdpg14{background:#FCE8E8; border-top:2px solid #ff0000; border-bottom:2px solid #ff0000;}
table.plz th{font-size:1.2em;}

div.estdpg21{width:42px; height:50px; background:url("../images/estadosPagos.png") top left no-repeat; margin:0 auto; }
div.estdpg22{width:42px; height:50px; background:url("../images/estadosPagos.png") top left no-repeat; margin:0 auto; }
div.estdpg23{width:42px; height:50px; background:url("../images/estadosPagos.png") top left no-repeat; margin:0 auto; }
div.estdpg24{width:42px; height:50px; background:url("../images/estadosPagos.png") top left no-repeat; margin:0 auto; }

td.estdpg21, td.estdpg22, td.estdpg23, td.estdpg24{}
div._pgs, div.imprmr, div.rprtr{float:left; margin-right:5px;  border:1px solid #cccccc; cursor:pointer;}
a#rprtr{background:#00426f; color:#ffffff; font-weight: 600; border:transparent; text-align:center; padding:5px; cursor:pointer}
div.imprmr{background: url("../images/imprimirMandamiento.png") no-repeat top center;}
div._pgs{background: url("../images/pagoes.png") no-repeat top center;}
table.plz tbody td.opccns{width:35%; border-left:dotted 1px #cccccc;}
table.plz tbody td.nmr{vertical-align:middle; text-align: right; padding-right:10px; font-size: 1.2em;}

div#psLyt div#rsmndclrcn {text-align:right;}
div#psLyt div#rsmndclrcn p{text-align:right; background:#F9F6C5; border-top:#EDEBA2 2px solid; border-right:#EDEBA2 1px solid; padding:5px; color:#999999;}
div#psLyt div#rsmndclrcn p b{color:#00426f;}
div#psLyt div#rsmndclrcn p a{color:#00426f; text-decoration: none;}
div#psLyt div#rsmndclrcn p a:hover{color:#00426f; text-decoration: underline;}

div.mdfcd{width: 95%; background:url("../images/advertencia.jpg") no-repeat; margin:0 auto;}

div.mdfcd p{margin:10px 0px 10px 35px;line-height: 16px;}
div.ndccn{width: 95%; margin:0 auto;}
div.ndccn p{padding:10px;}

div.mprmrdtllprcls{text-align: right;}
div#psLyt div.mprmrdtllprcls p{text-align: right;}
div#psLyt div.mprmrdtllprcls p a{color:#00426f; text-decoration: none;}
div#psLyt div.mprmrdtllprcls p a:hover{color:#00426f; text-decoration: underline;}
div#psLyt div.mprmrdtllprcls p a#rprtrpg{color:#F7912C; text-decoration: none;}
div#psLyt div.mprmrdtllprcls p a#rprtrpg:hover{color:#F7912C; text-decoration: underline;}
p.ppgprv{width:80%; margin:20px auto; font-size: 1.6em; line-height: 20px; font-weight: 600;}
p.ppgprv b{font-size: 1.8em; font-weight: bold; color:#F7912C;}

div#psLyt div.nts p{font-size: 1.1em; text-align: justify;}
div#psLyt div.nts b{color:#00426f; font-size: 1.2em;}
div#psLyt div.nts ul, div#psLytExt div#mnsjrrr ul{margin:0px; padding:0}
div#psLyt div.nts ul li, div#psLytExt div#mnsjrrr ul li{list-style:none; background: url("../images/bullet.jpg") no-repeat; padding:0px 10px 5px 20px; font-size: 1em;}
div.none{display:none} 
div#psLyt iframe{border:none;}
form.frprtrpg{border:1px #f7f7f7 solid;}
div.smnsj{background:#F9F6C5; border:1px solid #EDEBA2;}
div.smnsj p{color:#000000; padding:10px; text-align: justify;}
div.nts{border-top:1px dotted #cccccc;}






/*remove me
.pg-pplz, div.pgs p.link{display:none;}*/




