<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ministerio de Hacienda :: Direccion General de Impuestos
	Internos</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script type="text/javascript" src="../js/jquery.min.js"
	th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../js/jquery.ui.js"
	th:src="@{/js/jquery.ui.js}"></script>
<style>
div#ssc-body-render {
	width: 940px;
}
</style>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/security-main.css" th:href="@{/css/r2013.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../css/security-main.css" th:href="@{/css/mnu.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../css/security-main.css" th:href="@{/css/messages.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../css/security-main.css" th:href="@{/css/list.css}" />

<script type="text/javascript" src="../js/terceros.js"
	th:src="@{/js/terceros.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/    
var jsContext = /*[[@{/}]]*/ '/det/';    
/*]]>*/
</script>
</head>
<body>
	<div id="ssc-layout-ext">
		<div id="ssc-layout">
			<div id="ssc-header">
				<div id="ssc-elsalvador">
					<p>
						<span class="MH">Ministerio de Hacienda</span><br /> <span
							class="esa">Gobierno de El Salvador</span>
					</p>
				</div>
				<div id="ssc-mh">
					<img th:src="@{/images/logoMh.png}" src="${ctx}/images/logoMh.png"
						alt="Ministerio de Hacienda" />
				</div>
				<div class="clr"></div>
			</div>
			<div id="ssc-content"></div>
			<div id="ssc-body">

				<div id="ssc-body-render">

					<div id="ssc-layout-ext">
						<div id="container">
							<a id="anclaTop"></a>


							<div class="mainPanel">
								<div class="row resume">
									<div class="l">										
										<div class="l">
											<a th:href="@{/j_spring_security_logout}" class="amenu blue">Salir
												&#187;</a>
										</div>
										<div class="clr"></div>
									</div>
									<div class="clr"></div>
								</div>

								<div class="welcomeContainer noBrowser-hide">
								<h1>Declaraci&oacute;n Renta</h1>
					
					<div class="row cream">
						<p>
							Esta opci&oacute;n estara disponible el 12 de Febrero de 2015.							
						</p>
						<br/><br/><br/><br/>
					</div>
				
				</div>

							</div>
						</div>
					</div>
				</div>


				<div class="clr"></div>
			</div>
			<div class="clr"></div>
			<div id="ssc-footer">



				<div class="clr"></div>
				<div class="drchsrsrvds">
					<p>
						Ministerio de Hacienda<br/> 2015
					</p>										
				</div>
			</div>
		</div>
	</div>

</body>
</html>