<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>QManagement</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <script type="text/javascript" src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.ui.js"  th:src="@{/js/jquery.ui.js}"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js" 
        th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-select.js" 
        th:src="@{/js/bootstrap-select.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-toggle.min.js" 
        th:src="@{/js/bootstrap-toggle.min.js}"></script>
        <script type="text/javascript" src="../js/dropdownmenu.js" 
        th:src="@{/js/dropdownmenu.js}"></script>
        <style>
             div#ssc-body-render {
                width: 100%;
            }
            div#ssc-footer {
            background: /*url("../images/ph_pie-pagina.png")*/ no-repeat top center #202020;
            border-bottom: 5px solid #DFD8CC;
            position: fixed;
            bottom: 0;
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            overflow: hidden;
                            }
        </style>
<link rel="stylesheet" type="text/css" media="all" href="../css/jquery.dataTables.css" th:href="@{/css/dataTables.bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/jquery.dataTables.css" th:href="@{/css/dataTables.bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/r2013.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/mnu.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/messages.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/list.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sweet-alert.css" th:href="@{/css/sweet-alert.css}" />
        <script type="text/javascript" src="../js/sweet-alert.js" th:src="@{/js/sweet-alert.js}"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sac.css" th:href="@{/css/sac.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../../css/siit/forms.css" th:href="@{/css/siit/forms.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-select.min.css" th:href="@{/css/bootstrap-select.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/mntcservicio.css" th:href="@{/css/mntcservicio.css}" />
 
        <script th:inline="javascript" type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("form#formPregunta").submit(function(event) {
                    if($("#pregunta").val() === "" || $("#pregunta").val() === null){
                        $('#helppregunta').text("Debe ingresar una pregunta");
                        $("#divpregunta").addClass("has-error");
                        event.preventDefault();
                    }else{
                        $("#divpregunta").removeClass("has-error");
                        jQuery('#helppregunta').text("");
                    }
                    
                    if($("#respuestas").val().length === 0){
                        $('#helprespuestas').text("Debe ingresar una o varias respuestas");
                        $("#divrespuestas").addClass("has-error");
                        event.preventDefault();
                    }else{
                        $("#divrespuestas").removeClass("has-error");
                        $('#helprespuestas').text("");
                    }
                    
                    if(jQuery("#unidad").val() === "0"){
                        jQuery('#helpcUnidadRecep').text("Debe seleccionar un Centro de Servicio");
                        $("#divcUnidadRecep").addClass("has-error");
                        event.preventDefault();
                    }else{
                        $("#divcUnidadRecep").removeClass("has-error");
                        jQuery('#helpcUnidadRecep').text("");
                    }
                    
                });
                /*<![CDATA[*/
                    var unidad = /*[[${preguntapojo.unidad}]]*/;
                    if(unidad!=='' && unidad !==null) $("#unidad").val(unidad);
                
                
                var correos = /*[[${preguntapojo.respuestas}]]*/;
                if(correos) {
                    var x = 0;
                    correos.split(",").forEach(function(correo) {
                        if(x === 0)
                            $('#respuestas').val(correo);
                        else
                            mailAddValue(correo);
                        x++;
                    });
                }
            });
            /*]]>*/
            function mailAdd() {
                $('#myTable tr:last').after('<tr class="divRow"><td><div class="input-group" id="newMail"><span class="input-group-addon"><input type="radio" name="valor" aria-label="..."/></span><input type="text" class="form-control" aria-label="..." id="respuestas" name="respuestas" value=""/><a class="input-group-addon" onclick="mailDel(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div></td></tr>');
            }
            function mailAddValue(valor) {
                $('#myTable tr:last').after('<tr class="divRow"><td><div class="input-group" id="newMail"><span class="input-group-addon"><input type="radio" name="valor" aria-label="..."/></span><input type="text" class="form-control" aria-label="..." id="respuestas" name="respuestas" value="'+valor+'"/><a class="input-group-addon" onclick="mailDel(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div></td></tr>');
            }
            function mailDel(input) {
                jQuery(input).parents(".divRow").remove();
            } 
        </script>
    </head>
    <body>
        <div id="ssc-layout-ext" class="form">
            <div id="ssc-layout">
                <div th:include="/layout/header :: header"></div>
                <div id="ssc-content"></div>
                <div id="ssc-body">
                    <div id="ssc-body-render">
                        <div id="ssc-layout-ext">
                            <div id="container">
                                <a id="anclaTop"></a>
                                <div class="mainPanel">
                                    <div th:include="/layout/menu :: menu" ></div>
                                    <div class="form">
                                    <div class="welcomeContainer noBrowser-hide">
                                        <form id="formPregunta" class="form-horizontal" th:action="@{/adminpreguntas/}" th:object="${preguntapojo}" method="POST">
                                            <input id="preguntaId" type="hidden" th:field="*{preguntaId}" />
                                            <div class="form-group">
                                                <div class="col-sm-8">
                                                    <span class="titulo" th:text="*{preguntaId == null}? 'Ingreso de Nueva Pregunta de Evaluación' : 'Editando Configuración de Pregunta de Evaluación'">Ingreso de Nueva Pregunta de Evaluación</span>
                                                </div>
                                                <div class="col-sm-4 right">
                                                    <button type="submit" title="Guarddar" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                                        <span style="padding-left: 5px;">Guardar</span>
                                                    </button>
                                                    <a th:href="@{/adminpreguntas/}" title="Regresar" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                                        <span style="padding-left: 5px;">Regresar</span>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group" id="divpregunta">
                                                <label for="pregunta" class="col-sm-2 control-label">Pregunta de evaluación</label>
                                                <div class="col-sm-5">
                                                    <input id="pregunta" autofocus="true" type="text" th:field="*{pregunta}" class="form-control" placeholder="Pregunta..."/>
                                                  <span id="helppregunta" class="help-block has-error"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="row" id="divrespuestas">
                                                <label class="col-sm-2">Posibles Respuesas</label>
                                                <div class="col-sm-5">
                                                    <table class="table" id="myTable">
                                                        <tr class="divRow">
                                                            <td>
                                                                <div class="input-group" id="newMail">
                                                                    <span class="input-group-addon">
                                                                        <input type="radio" name="valor" aria-label="..."></input>
                                                                    </span>
                                                                    <input type="text" th:field="*{respuestas}" id="respuestas" class="form-control" aria-label="..."></input>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <span id="helprespuestas" class="help-block has-error"></span>
                                                    <div class="row-fluid text-right"><a href="#" onclick="mailAdd();">o Añadir Otro</a></div>
                                                </div>
                                            </div>  
                                            <div class="clr"></div> 
                                            <div class="input-group">.</div>
                                            
                                            <div class="form-group" id="divcUnidadRecep">
                                                <label for="unidad" class="col-sm-2 control-label">Centro de Servicio</label>
                                                <div class="col-sm-5">
                                                  <select id="unidad" th:field="*{unidad}" class="form-control" >
                                                      <option value="0">Seleccione un Centro de Servicio...</option>
                                                      <option th:each="type : ${gcUnidadesList}" th:value="${type.cunidadRecep}" th:text="${type.dunidadRecep}"></option>
                                                  </select>
                                                    <span id="helpcUnidadRecep" class="help-block has-error"></span>
                                                </div>
                                             </div>
                                            
                                            <div class="form-group" id="divdescripcion">
                                                <label for="descripcion" class="col-sm-2 control-label">Descripción</label>
                                                <div class="col-sm-5">
                                                  <input id="descripcion" type="text" th:field="*{descripcion}" class="form-control" placeholder="Descripción..." />
                                                  <span id="helpdescripcion" class="help-block has-error"></span>
                                                </div>
                                            </div>
                                             
                                            
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div th:include="/layout/message :: message"></div>
                <div th:include="/layout/footer :: footer"></div>
            </div>
        </div>
    </body>
</html>