<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- <meta name="_csrf" value="dummy" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" value="dummy" th:content="${_csrf.headerName}"/>  -->
        <title>QTicket</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="../js/jquery.min.js"
        th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.ui.js"
        th:src="@{/js/jquery.ui.js}"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js" 
        th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-select.js" 
        th:src="@{/js/bootstrap-select.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-toggle.min.js" 
        th:src="@{/js/bootstrap-toggle.min.js}"></script>

        <style>
            div#ssc-body-render {
                max-width: 100%;
            }
        </style>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/security-main.css" th:href="@{/css/r2013.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/security-main.css" th:href="@{/css/mnu.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/security-main.css" th:href="@{/css/messages.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/security-main.css" th:href="@{/css/list.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/font-awesome.min.css"
              th:href="@{/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sac.css" 
              th:href="@{/css/sac.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/siit/forms.css" 
              th:href="@{/css/siit/forms.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" 
              th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-theme.min.css" 
              th:href="@{/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-select.min.css" 
              th:href="@{/css/bootstrap-select.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-table.css" 
              th:href="@{/css/bootstrap-table.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/mntcservicio.css" 
              th:href="@{/css/mntcservicio.css}" />
        
        <script type="text/javascript" src="../js/terceros.js"
        th:src="@{/js/terceros.js}"></script>
        <script type="text/javascript" src="../js/dropdownmenu.js"
        th:src="@{/js/dropdownmenu.js}"></script>

        <script type="text/javascript" src="../js/jquery.k.min.js"
        th:src="@{/js/jquery.k.min.js}"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var jsContext = /*[[@{/}]]*/'/colas/';
            /*]]>*/

            jQuery(document).ready(function () {
                $("#iniciarProcesoLink").click(function () {
                    var ndias = $("#ndias").val();
                    if (ndias != "") {
                        $("#noDomiciliadoDias").val(ndias);
                    } else {
                        $("#noDomiciliadoDias").remove();
                    }
                    $("#form_iniciar_proceso").submit();
                })
            });

            jQuery(document).ready(function () {
                $(window).konami({
                    cheat: function () {
                        alert("i'm groot!!");
                    }
                });

            });
            
        </script>
        
    <style>
        div#ssc-footer {
            background: /*url("../images/ph_pie-pagina.png")*/ no-repeat top center #202020;
            border-bottom: 5px solid #DFD8CC;
            position: fixed;
            bottom: 0;
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            overflow: hidden;
        }
    </style>
 
    </head>
    <body>
        <div class="col-sm-12">
         <div id="ssc-layout-ext" class="form">
            <div id="ssc-layout">
                <div th:include="/layout/header :: header"></div>
                <div id="ssc-content"></div>
                <div id="ssc-body">
                    <div id="ssc-body-render">
                        <div id="ssc-layout-ext">
                            <div id="container">
                                <a id="anclaTop"></a>
                                <div class="mainPanel">
                                    <div th:include="/layout/menu :: menu" ></div>
                                     <div class="welcomeContainer ">
                                         <span class="titulo" style="text-align: center;">Sistema de Atención al cliente</span>
                                         <br /><br />
                                         <img th:src="@{/images/filas_espera2.png}" src="${ctx}/images/filas_espera2.png" alt="Sistema de Atención al Contribuyenete"  style="margin-left:150px; max-height: 45%; max-width: 55% ; align:center;" class="img-responsive"/>
                                         <br /><br /><br /><br /><br /><br />
                                         <div class="clr"></div>
                                     </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="clr"></div>
             <div th:include="/layout/footer :: footer"></div>
        </div>
        </div>    
        </body>
</html>