<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>QManagement</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.ui.js"  th:src="@{/js/jquery.ui.js}"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js" 
        th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-select.js" 
        th:src="@{/js/bootstrap-select.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-toggle.min.js" 
        th:src="@{/js/bootstrap-toggle.min.js}"></script>
        <script type="text/javascript" src="../js/dropdownmenu.js" 
        th:src="@{/js/dropdownmenu.js}"></script>
        <style>
             div#ssc-body-render {
                width: 100%;
            }
            div#ssc-footer {
            background: /*url("../images/ph_pie-pagina.png")*/ no-repeat top center #202020;
            border-bottom: 5px solid #DFD8CC;
            position: fixed;
            bottom: 0;
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            overflow: hidden;
                            }
        </style>
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/r2013.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/mnu.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/messages.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/list.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sweet-alert.css" th:href="@{/css/sweet-alert.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/sac.css" th:href="@{/css/sac.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../../css/siit/forms.css" th:href="@{/css/siit/forms.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" 
              th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-theme.min.css" 
              th:href="@{/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-select.min.css" 
              th:href="@{/css/bootstrap-select.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-table.css" 
              th:href="@{/css/bootstrap-table.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/mntcservicio.css" 
              th:href="@{/css/mntcservicio.css}" />
                <script type="text/javascript" src="../js/sweet-alert.js" th:src="@{/js/sweet-alert.js}"></script>
        
        <script type="text/javascript" src="../js/jquery.min.js"  th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.dataTables.min.js"  th:src="@{/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" src="../js/dataTables.bootstrap.js"  th:src="@{/js/dataTables.bootstrap.js}"></script>
                <script th:inline="javascript" type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("form#formCllamado").submit(function(event) {
                    
                    if(jQuery("#unidadRecep").val() === "0"){
                        jQuery('#helpcUnidadRecep').text("Debe seleccionar un Centro de Servicio");
                        $("#divcUnidadRecep").addClass("has-error");
                        event.preventDefault();
                    }else{
                        $("#divcUnidadRecep").removeClass("has-error");
                        jQuery('#helpcUnidadRecep').text("");
                    }
                    
                    if($("#nNumLlamadas").val() === "" || $("#nNumLlamadas").val() === null){
                        $('#helpnNumLlamadas').text("Debe Ingresar número máximo de llamados");
                        $("#divnNumLlamadas").addClass("has-error");
                        event.preventDefault();
                    }else{
                        if(1 > parseInt($("#nNumLlamadas").val()) ){
                            jQuery('#helpnNumLlamadas').text("Debe ingresar número mayor que 0");
                            $("#divnNumLlamadas").addClass("has-error");
                            event.preventDefault();
                        }else{
                            $("#divnNumLlamadas").removeClass("has-error");
                            $('#helpnNumLlamadas').text("");
                        }
                    }
                    
                    if($("#nIntervaloLlamada").val() === "" || $("#nIntervaloLlamada").val() === null){
                        $('#helpnIntervaloLlamada').text("Debe Ingresar tiempo entre cada llamado");
                        $("#divnIntervaloLlamada").addClass("has-error");
                        event.preventDefault();
                    }else{
                        if(1 > parseInt($("#nIntervaloLlamada").val()) ){
                            jQuery('#helpnIntervaloLlamada').text("Debe ingresar tiempo en segundos y mayor que 0");
                            $("#divnIntervaloLlamada").addClass("has-error");
                            event.preventDefault();
                        }else{
                            $("#divnIntervaloLlamada").removeClass("has-error");
                            $('#helpnIntervaloLlamada').text("");
                        }
                    }
                    
                    if($("#sMensaje").val() === "" || $("#sMensaje").val() === null){
                        $('#helpsMensaje').text("Debe Ingresar un mensaje");
                        $("#divsMensaje").addClass("has-error");
                        event.preventDefault();
                    }else{
                        $("#divsMensaje").removeClass("has-error");
                        $('#helpsMensaje').text("");
                    }
                    
                });
                
                
                if($("#nConfllamadoId").val().length !==0){
                    $('#unidadRecep').prop('disabled', 'disabled');
                }
                
            });
        </script>
    </head>
    <body>
        <div id="ssc-layout-ext" class="form">
            <div id="ssc-layout">
                <div th:include="/layout/header :: header"></div>
                <div id="ssc-content"></div>
                <div id="ssc-body">
                    <div id="ssc-body-render">
                        <div id="ssc-layout-ext">
                            <div id="container">
                                <a id="anclaTop"></a>
                                <div class="mainPanel">
                                    <div th:include="/layout/menu :: menu" ></div>
                                    <div class="form">
                                    <div class="welcomeContainer noBrowser-hide">
                                        <form id="formCllamado" class="form-horizontal" th:action="@{/cllamado/}" th:object="${gcconfllamado}" method="POST">
                                            <input id="nConfllamadoId" type="hidden" th:field="*{nConfllamadoId}" />
                                            <div class="form-group">
                                                <div class="col-sm-8">
                                                    <span class="titulo" th:text="*{nConfllamadoId == null}? 'Ingreso de Nuevo Configuración de Llamado' : 'Edicion de Configuración de Llamado'">Ingreso de Nuevo Configuración de Llamado</span>
                                                </div>
                                                <div class="col-sm-4 right">
                                                    <button type="submit" title="Guardar" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                                        <span style="padding-left: 5px;">Guardar</span>
                                                    </button>
                                                    <a th:href="@{/cllamado/}" title="Regresar" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                                        <span style="padding-left: 5px;">Regresar</span>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group" id="divnNumLlamadas">
                                                <label for="nNumLlamadas" class="col-sm-2 control-label">Numero máximo de llamadas</label>
                                                <div class="col-sm-5">
                                                    <input id="nNumLlamadas" autofocus="true" type="number" th:field="*{nNumLlamadas}" class="form-control" placeholder="Llamados..."/>
                                                  <span id="helpnNumLlamadas" class="help-block has-error"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group" id="divnIntervaloLlamada">
                                                <label for="nIntervaloLlamada" class="col-sm-2 control-label">Intervalo de tiempo entre cada llamado (Seg)</label>
                                                <div class="col-sm-5">
                                                    <input id="nIntervaloLlamada" type="number" th:field="*{nIntervaloLlamada}" class="form-control" placeholder="Tiempo..."/>
                                                  <span id="helpnIntervaloLlamada" class="help-block has-error"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group" id="divsMensaje">
                                                <label for="sMensaje" class="col-sm-2 control-label">Mensaje</label>
                                                <div class="col-sm-5">
                                                  <input id="sMensaje" type="text" th:field="*{sMensaje}" class="form-control" placeholder="Mensaje..."/>
                                                  <span id="helpsMensaje" class="help-block has-error"></span>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group" id="divcUnidadRecep">
                                                <label for="cUnidadRecep" class="col-sm-2 control-label">Centro de Servicio</label>
                                                <div class="col-sm-5">
                                                  <select id="unidadRecep" th:field="*{unidadRecep}" class="form-control" >
                                                      <option th:each="type : ${gcUnidadesList}" th:value="${type.cunidadRecep}" th:text="${type.dunidadRecep}"></option>
                                                  </select>
                                                    <span id="helpcUnidadRecep" class="help-block has-error"></span>
                                                </div>
                                             </div>
                                            
                                            <div class="form-group" id="divsMensaje">
                                                <label for="sDescripcion" class="col-sm-2 control-label">Descripción</label>
                                                <div class="col-sm-5">
                                                  <input id="sDescripcion" type="text" th:field="*{sDescripcion}" class="form-control" placeholder="Descripción..." />
                                                  <span id="helpsMensaje" class="help-block has-error"></span>
                                                </div>
                                            </div>
                                             
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div th:include="/layout/message :: message"></div>
                <div th:include="/layout/footer :: footer"></div>
            </div>
        </div>
    </body>
</html>