<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Centros de Servicios</title>
       	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/jquery-ui.css" th:href="@{/css/jquery-ui.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-select.min.css" th:href="@{/css/bootstrap-select.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/mntcservicio.css" th:href="@{/css/mntcservicio.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/r2013.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/mnu.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/messages.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/list.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/security-main.css" th:href="@{/css/list.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}" />

        <script type="text/javascript" src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../js/jquery.ui.js"	th:src="@{/js/jquery.ui.js}"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-select.js" th:src="@{/js/bootstrap-select.js}"></script>
        <script type="text/javascript" href="../js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" href="http://www.google.com/jsapi"></script>
        <script type="text/javascript" href="../js/jquery.gvChart-0.1.min.js" th:href="@{/js/jquery.gvChart-0.1.min.js}"></script>
        <script type="text/javascript" href="../js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../js/raphael.js" th:src="@{/js/raphael.js}"></script>
        <script type="text/javascript" src="../js/bootstrap-table.js" th:src="@{/js/bootstrap-table.js}"></script>
        <script type="text/javascript" src="../js/list.js" th:src="@{/js/list.js}"></script>
        <script type="text/javascript" src="../js/jquery.enumerable.js" th:src="@{/js/jquery.enumerable.js}"></script>
        <script type="text/javascript" src="../js/jquery.tufte-graph.js" th:src="@{/js/jquery.tufte-graph.js}"></script>
        <script type="text/javascript" src="../js/ir.js" th:src="@{/js/ir.js}"></script>
        
    </head>
    <body onclick="clicko()">
        <H1> SOY UNA GRAFICA, CREEME </H1>
    </body>
</html>